<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reja</title>
    <link rel="stylesheet" href="reja.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="frame">
      <div class="container">
        <div class="srplan">
          <strong>Reja Va Maqsadlar</strong>
        </div>
        <form id="form" action="/reja" class="inplan" method="post">
          <input
            id="new_reja"
            type="text"
            placeholder="Reja va maqsad kiriting"
            name="reja"
          />
          <button>Qo'shish</button>
        </form>
        <div class="btnplan">
          <ul class="btnul" id="ul">
            <%reja.map(function(ele){%>
            <li class="btnli">
              <div class="litext"><%=ele.reja%></div>
              <div class="btns">
                <button class="edit" data_id="<%=ele._id%>">O'zgartirish</button
                ><button class="delete" data_id="<%=ele._id%>">
                  O'chirish
                </button>
              </div>
            </li>
            <%})%>
          </ul>
          <button class="all_delete" id="delete_all">
            Hammasini o'chirish
          </button>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/browser.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.min.js"
      integrity="sha512-UOoJElONeUNzQbbKQbjldDf9MwOHqxNz49NNJJ1d90yp+X9edsHyJoAs6O4K19CZGaIdjI5ohK+O2y5lBTW6uQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
