<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reja</title>
    <link rel="stylesheet" href="harid.css" />
  </head>
  <body>
    <div class="container">
      <form class="form" action="/json" method="post">
        <input
          type="text"
          class="int"
          name="mahsulot"
          placeholder="Mahsulot nomi..."
        />
        <button type="submit" class="btn">Mahsulot qo'shish</button>
      </form>
    </div>
  </body>
</html>
