.container {
  position: relative;
  width: 1320px;
  height: 500px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form .int {
  width: 170px;
  height: 30px;
  padding: 3px 0px 3px 20px;

  outline: none;
  border: none;
}

.form .int:focus {
  border: 1px solid #0099ff;
  border-radius: 35px;
}

.form .btn {
  width: 150px;
  height: 30px;
  margin-left: 30px;
  padding: 3px;
  background: none;

  cursor: pointer;
  border: 1px solid #0099ff;
  border-radius: 35px;
  outline: none;
}

.form .btn:hover {
  cursor: pointer;
  background-color: #0099ff;
  color: white;
  border-radius: 35px;
}
