.frame {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  width: 1320px;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* SARLAVHA */
.srplan {
  margin-top: 40px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.srplan strong {
  padding: 10px 30px 10px 30px;
  font-family: "Inter";
  font-size: 32px;
  font-weight: 700;
  line-height: 123.6%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: rgb(122, 122, 122);
  border-radius: 35px;
}

/* INPUT REJA */
.inplan {
  margin-top: 40px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.inplan input {
  width: 25%;
  height: auto;
  padding: 10px 0px 10px 35px;
  border-radius: 35px;
  border: none;
  outline: none;

  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 123.6%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  color: rgb(122, 122, 122);
  background-color: rgb(240, 238, 238);
}

.inplan input:hover {
  border: 1px solid rgb(4, 183, 66);
  background-color: white;
}

.inplan input:focus {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  outline: 1px solid rgb(4, 183, 66);
  border: none;
  background-color: white;
}

/**/
.inplan button {
  width: 25%;
  height: auto;
  padding: 10px 0px 10px 0px;
  border-radius: 35px;
  border: none;
  outline: none;

  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 123.6%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: rgb(122, 122, 122);
}

.inplan button:hover {
  border: 1px solid rgb(4, 183, 66);
  background-color: rgb(4, 183, 66);
  color: white;
}

.inplan button:focus {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  color: white;
  border: none;
}

/*EDIT REJA*/
.btnplan {
  margin-top: 40px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.btnplan .btnul {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btnul .btnli {
  margin-top: 20px;
  width: 80%;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btnli .litext {
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 15px;
  width: 500px;
  height: auto;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 123.6%;
  letter-spacing: 0%;
  text-align: start;
  text-transform: capitalize;
  color: rgb(122, 122, 122);
  background-color: rgb(240, 238, 238);
  border-radius: 35px;
}

.litext:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  outline: 1px solid rgb(165, 0, 254);
  border: none;
  background-color: white;
}

.btns {
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* EDIT BUTTON*/

.edit {
  width: 200px;
  height: auto;
  padding: 10px 0px 10px 0px;
  border-radius: 35px;
  border: none;
  outline: none;

  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 123.6%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: rgb(122, 122, 122);
}

.edit:hover {
  border: 1px solid rgb(255, 146, 29);
  background-color: rgb(255, 146, 29);
  color: white;
}

.edit:focus {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  color: white;
  border: none;
}

/* DELET BUTTON*/
.delete {
  width: 200px;
  height: auto;
  padding: 10px 0px 10px 0px;
  border-radius: 35px;
  border: none;
  outline: none;

  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 123.6%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: rgb(122, 122, 122);
}

.delete:hover {
  border: 1px solid rgb(255, 4, 4);
  background-color: rgb(255, 4, 4);
  color: white;
}

.delete:focus {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  color: white;
  border: none;
}

/* ALL DELET BUTTON*/
.all_delete {
  margin-top: 40px;
  margin-right: 155px;
  width: 25%;
  height: auto;
  padding: 10px 0px 10px 0px;
  border-radius: 35px;
  border: none;
  outline: none;

  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 123.6%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: rgb(122, 122, 122);
}

.all_delete:hover {
  border: 1px solid rgb(255, 4, 4);
  background-color: rgb(255, 4, 4);
  color: white;
}

.all_delete:focus {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  color: white;
  border: none;
}
